# TabbyChat
public net.minecraft.client.gui.GuiChat field_146415_a # inputField
protected net.minecraft.client.gui.GuiScreen field_146290_a # selectedButton
protected net.minecraft.client.gui.GuiChat field_146416_h # sentHistoryCursor
protected net.minecraft.client.gui.GuiChat field_146411_u # clickedURI
protected net.minecraft.client.gui.GuiChat func_146407_a(Ljava/net/URI;)V # func_146407_a
protected net.minecraft.client.gui.GuiNewChat func_146235_b(Ljava/lang/String;)Ljava/lang/String; # func_146235_b
